@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


body {background-color: black;
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 25px 300px;
}

.title {
    color: darkgoldenrod;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}

.myList {
    text-align: center;
    list-style-position: inside;
}

#myTitle {
    text-align: center;
    color: darkgoldenrod;
};


a:link, a:visited {
    background-color: grey;
    color: white;
    border: 2px white;
    padding: 14px 25px;
    text-align: center; 
    display: inline-block;
  }

  a:hover, a:active {
    text-decoration: underline;
    text-decoration-color: grey;
  }
button{
    background-color: white;
    border-style: solid;
    border-color: grey;
    font-size: 13px;
}

img{
    margin:0px;
    max-width: 100%;
    height: auto;
}